Libraries/recastnavigation/Docs/doxygen_sqlite3.db
Libraries/recastnavigation/Docs/html/
Libraries/Linux/lib64/awesomium.log
Projects/angelscript_2_30_0_sdk/angelscript/lib/
Projects/angelscript_2_30_0_sdk/samples/game/bin/
Projects/angelscript_2_31_1_sdk/angelscript/lib/
Projects/angelscript_2_31_1_sdk/samples/game/bin/
[Bb]uildRelease/
[Bb]uildRelease32/
[Bb]uildRelease64/
[Bb]uildRelWithDebInfo/
[Bb]uildRelWithDebInfo32/
[Bb]uildRelWithDebInfo64/
[Bb]uildDebug/
[Bb]uildDebug32/
[Bb]uildDebug64/
[Bb]uild/
git_version.cpp
_git_version.inc
*Data/version.xml
Data/short_version
Data/Mods/*
!Data/Mods/wolfire_*
!Data/Mods/gyrth_drika_hotspot
!Data/Mods/example_tcp_socket_mod/
!Data/Mods/example_mod
!Data/Mods/therium
!Data/Mods/moz_versus_pack
*~
Docs/output
*.mtl
Data/LevelNavmeshes/**/*.obj
tags
*.swp
.vscode/*
